/* Unflipped themes for cards */
.default-card {
    background-color: #1892b1;
    color: #ffffff;
}

.valentine-card {
    background-color: #F0B5BD;
    color: #B11D4D;
}

.birthday-card {
    background-color: honeydew;
    color: mediumpurple;
}

.graduation-card {
    background-color: goldenrod;
    color: fuchsia;
}


/* Flipped themes for main */
.default-main {
    background-color: white;
    color: #1892b1;
}

.valentine-main {
    background-color: #B11D4D;
    color: #F0B5BD;
}

.birthday-main {
    background-color: mediumpurple;
    color: honeydew;
}

.graduation-main {
    background-color: fuchsia;
    color: goldenrod;
}


